- blogs.each do |blog|
  .blog-preview
    .row
      %p.blog-author
        %a{ href: user_path(blog.user) }
          %h4.user-name
            = image_tag blog.user.profile_photo_url(:thumb), id: 'user-listing-profile-photo'
            = blog.user.name

    .row
      %p.blog-meta
        = fa_icon 'clock-o'
        = blog.date_meta

    .row
      %a.blog-link{ href: blog_path(blog) }
        %h3.post-title= blog.title
        %p.blog-body= blog.stripped_teaser

    %hr

    - if current_user && can?(:publish, blog)
      .row
        %p.delete-blog
          = link_to blog_path(blog), method: :delete, data: { confirm: 'Pag Sure!', ajax: true }, class: 'btn btn-trash btn-xs btn-danger' do
            = fa_icon 'trash'
