.col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2#blog
  .row
    - if can? :publish, @blog
      .blog-header
        - if @blog.published?
          = link_to 'Unpublish', unpublish_blog_path(@blog), method: :patch, class: 'btn btn-default'
        - else
          = link_to 'Publish', publish_blog_path(@blog), method: :patch, class: 'btn btn-default'
    %hr

  .row
    %p.blog-author
      %a{ href: user_path(@blog.user) }
        %h4.user-name
          = image_tag @blog.user.profile_photo.url(:thumb), id: 'user-listing-profile-photo'
          = @blog.user.name

  .row
    %p.blog-meta= @blog.date_meta
    %h1= @blog.title

  .row
    #blog-body
      = @blog.body.html_safe

  .row
    - if current_user
      = render 'comments/template', commentable: @blog, new_comment: @comment
    - else
      .comments-header
        %h5 Sign in to view or read comments

  .row
    .blog-actions
      = link_to 'Back', blogs_path, class: 'btn btn-default'
      
      - if can? :publish, @blog
        = link_to 'Edit', edit_blog_path(@blog), class: 'btn btn-default'
        = link_to 'Delete', blog_path(@blog), method: :delete, data: { confirm: 'Pag Sure!' }, class: 'btn btn-danger'
