- content_for(:meta_tags) do
  = render_meta_tags @blog

.row
  .col-lg-8.col-lg-offset-2.blog-container{ id: "blog-#{@blog.id}" }
    .row
      - if can? :publish, @blog
        .blog-header
          - if @blog.published?
            = link_to 'Unpublish', unpublish_blog_path(@blog), method: :patch, class: 'btn btn-default'
            %a.fb-xfbml-parse-ignore.btn.btn-default{ href: "javascript:window.open('https://www.facebook.com/sharer/sharer.php?u=#{blog_url(@blog)}', 'Gravity', 'width=400,height=300')" }
              = fa_icon('facebook') + ' Share'
          - else
            = link_to 'Publish', publish_blog_path(@blog), method: :patch, class: 'btn btn-default'
      %hr

    .row
      %p.blog-author
        %a{ href: user_path(@blog.user) }
          %h4.user-name
            = image_tag @blog.user.profile_photo_url(:thumb), id: 'user-listing-profile-photo'
            = @blog.user.name

    .row
      %p.blog-meta= @blog.date_meta
      %h1= @blog.title

    .row
      #blog-body= @blog.body.html_safe

      %hr.spacer

    - if @blog.published?
      .row
        - if current_user
          %ul.blog-likes-comment-section
            %li
              - if @blog.liked_by?(current_user)
                = link_to unlike_blog_path(@blog), method: :patch, data: { remote: true, id: @blog.id } do
                  = fa_icon 'thumbs-up', id: "thumbs-up-#{@blog.id}"
              - else
                = link_to like_blog_path(@blog), method: :patch, data: { remote: true, id: @blog.id } do
                  = fa_icon 'thumbs-o-up', id: "thumbs-up-#{@blog.id}"
            - likes_count = @blog.likes.count
            %li
              %h6{ id: "thumbs-up-text-#{@blog.id}" }= likes_count.zero? ? "Ayus ba? |" : "#{likes_count} ka Ayus! |"
            %li.li-comment-section
              - comment_count = @blog.comment_threads.count
              - if comment_count.zero?
                %h6= 'May comment ka?'
              - else
                %h6= "#{comment_count} #{'Comment'.pluralize(comment_count)}"

          = render 'comments/template', commentable: @blog, new_comment: @new_comment
        - else
          .comments-header
            %h5 Sign in to read or post comments

    .row
      .blog-actions.spacer
        = link_to 'Back', blogs_path, class: 'btn btn-default'
        
        - if can? :publish, @blog
          = link_to 'Edit', edit_blog_path(@blog), class: 'btn btn-default'
          = link_to 'Delete', blog_path(@blog), method: :delete, data: { confirm: 'Pag Sure!' }, class: 'btn btn-danger'
