= simple_form_for new_comment, remote: true do |f|  
  = f.input :commentable_id, label: false, as: :hidden, value: new_comment.commentable_id
  = f.input :commentable_type, label: false, as: :hidden, value: new_comment.commentable_type

  = f.input :body, label: false, input_html: { class: 'new-comment-body', rows: 2, cols: 120 }

  = f.button :submit, 'Post Comment', class: 'btn-primary btn-xs submit-new-comment'
