.comment
  %p.commenter
    %a{ href: user_path(comment.user) }
      %h5.user-name
        = image_tag comment.user.profile_photo_url(:thumb), id: 'nav-profile-photo'
        = comment.user.name
  - if can?(:editable, comment)
    %p.comment-body.editable-comment-body{ 'data-type' => 'wysihtml5', 'data-pk' => comment.id, 'data-url' => editable_comment_path(comment), 'data-name' => 'body', name: 'body', 'data-value' => comment.body, value: comment.body, 'data-escape' => 'true', 'data-rows' => 2, class: "comment-body-#{comment.id}" }
      = fa_icon 'edit'
      = comment.body.html_safe
  - else
    %p= comment.body.html_safe
  %p.comment-meta= "on #{comment.created_at.strftime '%a, %b %e, %Y %R'}"
  %p.delete-comment
    - if current_user && can?(:destroy, comment)
      = link_to comment_path(comment), method: :delete, data: { confirm: 'Pag Sure!', ajax: true, parent: comment.parent_id.nil? }, class: 'btn btn-trash btn-xs btn-danger' do
        = fa_icon 'trash'
  %br
= render 'comments/show', comments: comment.children
