- comments.each do |comment|
  .comments-show{ class: "comment-#{comment.id} "}
    = render 'comments/reply', comment: comment

  - unless comment.parent_id
    #comment-reply-form
      .comment-nav
        %a.comment-reply
          Reply

      .reply-form
        = simple_form_for new_comment, remote: true do |f|
          = f.input :commentable_id, as: :hidden, value: new_comment.commentable_id
          = f.input :commentable_type, as: :hidden, value: new_comment.commentable_type
          = f.input :comment_id, as: :fake, label: false, input_html: { class: 'hidden', value: comment.id }

          = f.input :body, label: false, input_html: { class: 'reply-comment-body', rows: 2, cols: 120 }

          = f.button :submit, 'Post Reply', class: 'submit-reply-comment btn-primary btn-xs'
