.comments-header
  %h6
    - comment_count = commentable.comment_threads.count
    - word = comment_count > 1 ? 'Comments' : 'Comment'
    = commentable.comment_threads.count == 0 ? 'Be the first to comment!' : "#{comment_count} #{word}"

.comments-container
  = render 'comments/show', comments: commentable.root_comments.order(:created_at), new_comment: new_comment

.new-comment-toggle
  %a.new-comment
    New Comment
.new-comment-form
  = render 'comments/form', new_comment: new_comment
