= form_with model: @recipe, class: 'simple_form form-horizontal recipes' do |f|
  .row.form-group
    = f.label :title, class: 'control-label'
    = f.text_field :title, class: 'form-control'

  .row.form-group
    = f.label :ingredients, class: 'control-label'
    = f.rich_text_area :ingredients

  .row.form-group
    = f.label :instructions, class: 'control-label'
    = f.rich_text_area :instructions

  .form-actions
    = f.submit
