= simple_form_for @user, html: { class: 'form-horizontal users' }, multipart: true  do |f|
  = f.error_notification
  = @user.errors.full_messages.inspect unless @user.errors.empty?

  .row.user-edit-page
    .col-lg-6.col-md-8
      = f.input :profile_photo, hint: image_tag(@user.profile_photo_url(:thumb), size: '150x150')
      = image_tag '', id: 'preview-container', size: '150x150'

  .row-fluid
    .col-lg-6.col-md-6
      = f.input :email, wrapper: :horizontal_form
      = f.input :password, wrapper: :horizontal_form
      = f.input :password_confirmation, wrapper: :horizontal_form, label: 'Confirm Password'
      = f.input :first_name, wrapper: :horizontal_form
      = f.input :last_name, wrapper: :horizontal_form
      = f.simple_fields_for :user_profile, @user.user_profile do |p|
        = p.input :date_of_birth, wrapper: :horizontal_form, as: :date_picker, label: 'Birthday', input_html: { 'data-provide' => 'datepicker' }
        = p.input :street_address1, wrapper: :horizontal_form, label: 'Address 1'

  .row-fluid
    .col-lg-6.col-md-6
      = f.simple_fields_for :user_profile, @user.user_profile do |p|
        = p.input :street_address2, wrapper: :horizontal_form, label: 'Address 2'
        = p.input :city, wrapper: :horizontal_form
        = p.input :state, wrapper: :horizontal_form
        = p.input :country, wrapper: :horizontal_form
        = p.input :postal_code, wrapper: :horizontal_form
        = p.input :phone_number, wrapper: :horizontal_form
        = p.input :mobile_number, wrapper: :horizontal_form
  
    .col-lg-6.col-md-6.form-actions
      = f.button :submit, class: 'btn-primary'
      - if @user.persisted?
        = link_to 'Cancel', user_path(@user), class: 'btn btn-default'
      - else
        = link_to 'Cancel', root_path, class: 'btn btn-default'

- content_for :footer_scripts do
  :javascript
    $(document).ready(function() {
      $('#user_user_profile_attributes_country').select2({
        placeholder: 'Select Country'
      });

      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $('#preview-container').attr('src', e.target.result);
          }
          reader.readAsDataURL(input.files[0]);
        }
      }

      $('#preview-container').hide();
      $('#user_profile_photo').change(function() {
        readURL(this);
        $('.user_profile_photo .help-block img').remove();
        $('#preview-container').show();
      });
    });
