.row.user-profile
  .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2
    .row.user-greeting
      %h3
        - if current_user == @user
          = "Welcome, #{@user.name}!"
        - else
          = @user.name

    .row
      %p.pull-right
        = image_tag @user.profile_photo_url(:thumb), id: 'user-profile-photo'

    - if current_user
      .row
        - if can?(:edit, @user)
          %p.pull-right
            = link_to 'Edit Profile', edit_user_path(@user), class: 'btn btn-default'
        %p.pull-right{ style: 'margin-right:5px;'}
          - if current_user.is_friends_with?(@user)
            %span.btn.btn-default
              = fa_icon 'hand-peace-o'
              Friends
          - elsif current_user != @user
            - if current_user.has_friend_request_from?(@user)
              Friend Request: 
              = link_to accept_friend_request_user_path(@user), method: :patch, remote: true, class: 'btn btn-default btn-xs', onclick: 'reloadPage()' do
                = fa_icon 'user-plus'
                Accept
              = link_to reject_friend_request_user_path(@user), method: :patch, remote: true, class: 'btn btn-danger btn-xs', onclick: 'reloadPage()' do
                = fa_icon 'ban'
                Reject
            - elsif current_user.requested_to_be_friends_with?(@user)
              = link_to cancel_friend_request_user_path(@user), method: :patch, class: 'btn btn-danger', remote: true, onclick: 'reloadPage()' do
                = fa_icon 'user-times'
                Cancel Friend Request
            - else
              = link_to send_friend_request_user_path(@user), method: :patch, remote: true, class: 'btn btn-default', onclick: 'reloadPage()' do
                = fa_icon 'user-plus'
                Add Friend

    .row
      %ul.nav.nav-tabs.user-nav-tabs
        - if current_user
          %li.active
            %a#profile-tab-link{ href: '#profile-tab', 'data-toggle' => 'tab' } Profile

        - if current_user
          %li
            %a#published-posts-link{ href: '#published-posts-tab', 'data-toggle' => 'tab' } Published Posts
        - else
          %li.active
            %a#published-posts-link{ href: '#published-posts-tab', 'data-toggle' => 'tab' } Published Posts

        %li
          %a#published-blogs-link{ href: '#published-blogs-tab', 'data-toggle' => 'tab' } Published Blogs

        - if current_user == @user || can?(:manage, :all)
          %li
            %a#drafted-blogs-link{ href: '#drafted-blogs-tab', 'data-toggle' => 'tab' } Drafted Blogs
          %li
            %a#drafted-recipes-link{ href: '#drafted-recipes-tab', 'data-toggle' => 'tab' } Drafted Recipes

      .tab-content.user-tab-content
        - if current_user
          #profile-tab.tab-pane.fade.in.active
            = render 'profile'

        - if current_user
          #published-posts-tab.tab-pane.fade
            = render 'published_posts', posts: @published_posts, has_more_results: @more_published_posts_results
        - else
          #published-posts-tab.tab-pane.fade.in.active
            = render 'published_posts', posts: @published_posts, has_more_results: @more_published_posts_results

        #published-blogs-tab.tab-pane.fade
          = render 'published_blogs', blogs: @published_blogs, has_more_results: @more_published_blogs_results

        - if can?(:manage, :all) || current_user == @user
          #drafted-blogs-tab.tab-pane.fade
            = render 'drafted_blogs', blogs: @drafted_blogs, more_results: @more_drafted_blogs_results

          #drafted-recipes-tab.tab-pane.fade
            = render 'drafted_recipes', recipes: @drafted_recipes, more_results: @more_drafted_recipes_results

- content_for :footer_scripts do
  :javascript
    // TODO: replace html instead of reloading the page
    function reloadPage() {
      setTimeout(() => {
        location.reload();
      }, 1000);
    }
