%nav.navbar.navbar-custom.navbar-fixed-top{ role: 'navigation' }
  .container
    .navbar-header
      %button.navbar-toggle{ type: 'button', 'data-toggle' => 'collapse', 'data-target' => '.navbar-main-collapse' }
        Menu
        = fa_icon 'bars'
      %a.navbar-brand{ 'page-scroll' => true, href: in_homepage? ? '#page-top' : root_path }
        %span.light Home

    .collapse.navbar-collapse.navbar-main-collapse
      %ul.nav.navbar-nav
        %li.hidden
          %a{ href: '#page-top' }
        %li
          %a.page-scroll{ href: in_homepage? ? '#posts' : posts_path }
            Posts
        %li
          %a.page-scroll{ href: in_homepage? ? '#blogs' : blogs_path }
            Blogs
        %li
          %a.page-scroll{ href: '#about' }
            About
        %li
          %a.page-scroll{ href: '#contact' }
            Contact
        - if current_user
          %li
            = simple_form_for :search, url: search_path, method: :get, html: { class: 'login form-horizontal navbar-form' } do |f|
              %p= f.input :search, wrapper: :horizontal_form, label: false, placeholder: 'Search', input_html: { class: 'form-control input-sm' }
              .input-group-btn
                %button.btn.btn-default{ type: 'submit' }
                  = fa_icon 'search'
      .collapse.navbar-collapse.navbar-right.navbar-main-collapse
        - if current_user
          %li.dropdown.nav-user-dropdown{ role: 'presentation' }
            %a.dropdown-toggle.nav-user-dropdown-toggle{ href: '#', role: 'button', 'aria-haspopup' => 'true', 'aria-expanded' => 'false', 'data-toggle' => 'dropdown' }
              = image_tag current_user.profile_photo.url(:thumb), id: 'nav-profile-photo'
              = current_user.name
              %span.caret
            %ul.dropdown-menu
              %li
                %a{ href: user_path(current_user) }
                  = fa_icon('user-secret') + ' Profile'
              %li
                %a{ href: new_post_path }
                  = fa_icon('share-square') + ' New Post'
              %li
                %a{ href: new_blog_path }
                  = fa_icon('newspaper-o') + ' New Blog'
              %li
                = link_to(destroy_user_session_path, method: :delete) do
                  = fa_icon 'power-off'
                  Sign Out
        - else
          %button.btn-xs.btn-default.btn-lg.log-me-in Sign In
          .sign-in-form.hidden
            = simple_form_for User.new, as: :user, url: user_session_path, html: { class: 'login form-horizontal navbar-form pull-right' }, wrapper: :horizontal_form do |f|
              %p= f.input :email, wrapper: :horizontal_form, label: false, placeholder: 'Email', input_html: { class: 'input-sm' }
              %p= f.input :password, wrapper: :horizontal_form, label: false, placeholder: 'Password', input_html: { class: 'input-sm' }
              %p.nav-form-submit= f.submit 'Sign in', class: 'btn-xs btn-default'
              %p.nav-form-cancel
                %span.btn-xs.btn.cancel-log-in Cancel

- content_for :footer_scripts do
  :javascript
    $(document).ready(function() {
      $('.log-me-in').click(function() {
        $(this).hide();
        $('.sign-in-form').removeClass('hidden');
      });
      $('.cancel-log-in').click(function() {
        $('.sign-in-form').addClass('hidden');
        $('.log-me-in').show();
      });

      var clicks = 0;
      var width = $(window).width();
      if (width < 786) {
        $('.nav-user-dropdown-toggle').click(function() {
          if (clicks === 0) {
            $('.nav-user-dropdown').css('margin-bottom', '110px');
            clicks++;
          } else {
            $('.nav-user-dropdown').css('margin-bottom', '10px');
            clicks--
          }
        });
      }
    });
