%nav.navbar.navbar-custom.navbar-fixed-top.top-nav-collapse{ role: 'navigation' }
  .container
    .navbar-header
      %button.navbar-toggle{ type: 'button', 'data-toggle' => 'collapse', 'data-target' => '.navbar-main-collapse' }
        = fa_icon 'bars'
      %a.navbar-brand{ 'page-scroll' => true, href: current_page?(root_path) ? '#page-top' : root_path }
        %span G
      - if current_user
        .mobile-search
          = simple_form_for :search, url: search_path, method: :get, html: { class: 'login form-horizontal navbar-form mobile-search-form' } do |f|
            %p= f.input :search, wrapper: :horizontal_form, label: false, placeholder: 'Search', input_html: { class: 'form-control input-sm' }
            .input-group-btn
              %button.btn.btn-default.search-submit{ type: 'submit' }
                = fa_icon 'search'
        .mobile-notifications.pull-right
          .dropdown.inline
            %a.dropdown-toggle.tooltip-info{ href: '#', rel: 'tooltip', 'data-toggle' => 'dropdown', onclick: 'clearNotifications()' }
              = fa_icon 'bell'
              - unless notification_count.try(:zero?)
                %span#notification-badge
                  = notification_count
            .dropdown-menu.notifications
              = render 'shared/activity', activities: activities

    .collapse.navbar-collapse.navbar-main-collapse
      %ul.nav.navbar-nav.left-menus
        %li{ class: current_page?(posts_path) ? 'active' : 'inactive' }
          %a.page-scroll{ href: posts_path }
            Posts
        %li{ class: current_page?(blogs_path) ? 'active' : 'inactive' }
          %a.page-scroll{ href: blogs_path }
            Blogs
        %li{ class: current_page?(about_path) ? 'active' : 'inactive' }
          %a.page-scroll{ href: about_path }
            About
        - if current_user
          %li.desktop-search
            = simple_form_for :search, url: search_path, method: :get, html: { class: 'login form-horizontal navbar-form desktop-search-form' } do |f|
              %p= f.input :search, wrapper: :horizontal_form, label: false, placeholder: 'Search', input_html: { class: 'form-control input-sm' }
              .input-group-btn
                %button.btn.btn-default.search-submit{ type: 'submit' }
                  = fa_icon 'search'
      .collapse.navbar-collapse.navbar-right.navbar-main-collapse{ class: current_user ? '' : 'anonymous' }
        - if current_user
          %ul.nav.navbar-nav
            %li.dropdown.inline.desktop-notifications
              %a.dropdown-toggle.tooltip-info{ href: '#', rel: 'tooltip', title: 'Notifications', 'data-toggle' => 'dropdown', onclick: 'clearNotifications()' }
                = fa_icon 'bell'
                - unless notification_count.try(:zero?)
                  %span#notification-badge
                    = notification_count
              .dropdown-menu.notifications
                = render 'shared/activity', activities: activities
            %li.dropdown.nav-user-dropdown{ role: 'presentation' }
              %a.dropdown-toggle.nav-user-dropdown-toggle{ href: '#', role: 'button', 'aria-haspopup' => 'true', 'aria-expanded' => 'false', 'data-toggle' => 'dropdown' }
                = image_tag current_user.profile_photo_url(:thumb), id: 'nav-profile-photo'
                = current_user.name
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{ href: user_path(current_user) }
                    = fa_icon('user-secret') + ' Profile'
                %li
                  %a{ href: new_blog_path }
                    = fa_icon('newspaper-o') + ' New Blog'
                %li#dark_mode_switch
                  - if cookies[:dark_mode]
                    %a{ href: set_light_mode_path }
                      = fa_icon 'moon-o'
                      %label.switch
                        %input{ type: 'checkbox', checked: :checked, onclick: 'setThemeMode("/set_light_mode")' }
                        %span.slider.round
                  - else
                    %a{ href: set_dark_mode_path }
                      = fa_icon 'moon-o'
                      %label.switch
                        %input{ type: 'checkbox', checked: false, onclick: 'setThemeMode("/set_dark_mode")' }
                        %span.slider.round
                %li
                  = link_to(destroy_user_session_path, method: :delete) do
                    = fa_icon 'power-off'
                    Sign Out
        - else
          %ul.nav.navbar-nav
          %button.btn-xs.btn-default.btn-lg.log-me-in Sign In
          %span.btn-xs.btn.forgot-password Forgot Password?
          %span.sign-in-form.hidden
            = simple_form_for User.new, as: :user, url: user_session_path, html: { class: 'login form-horizontal navbar-form pull-left' }, wrapper: :horizontal_form do |f|
              = f.input :email, wrapper: :horizontal_form, label: false, placeholder: 'Email', autofocus: true, input_html: { class: 'input-sm' }
              = f.input :password, wrapper: :horizontal_form, label: false, placeholder: 'Password', input_html: { class: 'input-sm' }
              %p.nav-form-submit= f.submit 'Sign in', class: 'btn-xs btn-default'
              %p.nav-form-cancel
                %span.btn-xs.btn.cancel-log-in Cancel
          %span.forgot-password-form.hidden
            = simple_form_for User.new, as: :user, url: user_password_path, html: { id: 'new_user_forgot_pw', class: 'login form-horizontal navbar-form pull-left' }, wrapper: :horizontal_form do |f|
              %p= f.input :email, wrapper: :horizontal_form, label: false, placeholder: 'Email', autofocus: true, input_html: { id: 'user_email_forgot_pw', class: 'input-sm' }
              %p.nav-form-submit= f.submit 'Reset', class: 'btn-xs btn-default'
              %p.nav-form-cancel
                %span.btn-xs.btn.cancel-forgot-password Cancel
          %span#dark_mode_switch
            - if cookies[:dark_mode]
              %a{ href: set_light_mode_path }
                = fa_icon 'moon-o'
                %label.switch
                  %input{ type: 'checkbox', checked: :checked, onclick: 'setThemeMode("/set_light_mode")' }
                  %span.slider.round
            - else
              %a{ href: set_dark_mode_path }
                = fa_icon 'moon-o'
                %label.switch
                  %input{ type: 'checkbox', checked: false, onclick: 'setThemeMode("/set_dark_mode")' }
                  %span.slider.round

- content_for :footer_scripts do
  :javascript
    function setThemeMode(path) {
      $('#dark_mode_switch').on('click', 'input', function() {
        window.location.href = path;
      });
    }

    let clickCount = 0;

    function clearNotifications() {
      if (clickCount > 0) {
        $('#activities-container ul li').each(function() {
          $(this).removeClass('unread');
          $(this).addClass('read');
        });

        return;
      }

      $('#notification-badge').addClass('hidden');
      $.ajax({
        url: '#{clear_notifications_path}',
        method: 'patch',
        dataType: 'json',
      })
      clickCount++;
    }
