- posts.each do |post|
  .post-preview{ id: "post-#{post.id}" }
    .row
      %p.poster
        %a{ href: user_path(post.user) }
          %h4.user-name
            = image_tag post.user.profile_photo.url(:thumb), id: 'user-listing-profile-photo'
            = post.user.name

    .row
      %p.post-meta
        = fa_icon 'clock-o'
        = post.date_meta

    - if post.private? && !current_user.try(:is_friends_with?, post.user)
      = render 'posts/private_post', post: post
    - else
      .row
        - if can?(:update, post)
          %p.post-body.editable-post-body{ 'data-type' => 'wysihtml5', 'data-pk' => post.id, 'data-url' => editable_post_path(post), 'data-name' => 'body', name: 'body', 'data-value' => post.body, value: post.body, 'data-escape' => 'true', 'data-rows' => 5, class: "post-body-#{post.id}" }
            = fa_icon 'edit'
            = post.embed_youtube.html_safe
        - else
          %p.post-body
            = post.embed_youtube.html_safe

      - if post.images.any?
        .row
          .post-images
            = render 'posts/image_swiper', images: post.images

      - if post.videos.any?
        .row
          .post-videos
            - post.videos.each do |video|
              = video_tag video.source.expiring_url(1.hour.to_i), controls: true, size: video.aspect_ratio_display

      - if can?(:publish, post)
        .row
          %p.delete-post
            = link_to post_path(post), method: :delete, data: { confirm: 'Pag Sure!', ajax: true }, class: 'btn btn-trash btn-xs btn-danger' do
              = fa_icon 'trash'
      %hr
