- @posts.each do |post|
  .post-preview
    %p.poster
      %a{ href: user_path(post.user) }
        %h4.user-name
          = image_tag post.user.profile_photo.url(:thumb), id: 'user-listing-profile-photo'
          = post.user.name
    %p.post-meta= post.published_at.strftime '%a, %b %e, %Y %R'
    %a{ href: post_path(post) }
      %h4.post-title= post.title
      %p.post-body= post.body
    %p.delete-post
      - if current_user && can?(:publish, post)
        = link_to post_path(post), method: :delete, data: { confirm: 'Pag Sure!' }, class: 'btn btn-trash btn-xs btn-danger' do
          = fa_icon 'trash'
  %hr
