- posts.each do |post|
  .post-preview{ id: "post-#{post.id}" }
    = render 'posts/post_preview', post: post

    .row
      - likes_count = post.likes.count
      - comments_count = post.comment_threads.count

      - if current_user && can?(:read, post)
        %ul.post-likes-comment-section
          %li
            - if post.liked_by?(current_user)
              = link_to unlike_post_path(post), method: :patch, data: { remote: true, id: post.id } do
                = fa_icon 'thumbs-up', id: "thumbs-up-#{post.id}"
            - else
              = link_to like_post_path(post), method: :patch, data: { remote: true, id: post.id } do
                = fa_icon 'thumbs-o-up', id: "thumbs-up-#{post.id}"
          %li
            %h6{ id: "thumbs-up-text-#{post.id}" }= likes_count.zero? ? "Ayus ba? |" : "#{likes_count} ka Ayus! |"
          %li.li-comment-section
            - if comments_count.zero?
              %h6= 'May comment ka?'
            - else
              %h6= "#{comments_count} #{'Comment'.pluralize(comments_count)}"

        = render 'comments/template', commentable: post, new_comment: Comment.build_from(post, current_user.id, nil)
      - else
        %ul.post-likes-comment-section.comments-header
          - if likes_count.zero? && comments_count.zero?
            %li
              %h6 Sign in to like or post comments
          - else
            - unless likes_count.zero?
              %li
                = fa_icon 'thumbs-up', id: "thumbs-up-#{post.id}"
              %li
                %h6{ id: "thumbs-up-text-#{post.id}" }
                  = "#{likes_count} Likes"
                  - unless comments_count.zero?
                    |
            - unless comments_count.zero?
              %li.li-comment-section
                %h6= "#{comments_count} #{'Comment'.pluralize(comments_count)}"
