.container.content-section
  .row
    .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1
      .post-header
        - if can? :publish, @post
          - if @post.published?
            = link_to 'Unpublish', unpublish_post_path(@post), method: :patch, class: 'btn btn-default'
          - else
            = link_to 'Publish', publish_post_path(@post), method: :patch, class: 'btn btn-default'
          %hr

        %p= @post.title

      %p= @post.body
      - if @post.images.any?
        %p= render 'image_slider', images: @post.images

      = link_to t('.back', :default => t("helpers.links.back")), posts_path, :class => 'btn btn-default'
      
      - if can? :publish, @post
        = link_to t('.edit', :default => t("helpers.links.edit")), edit_post_path(@post), :class => 'btn btn-default'
        = link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Pag Sure!' }, class: 'btn btn-danger'
