#post
  .row
    .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2
      .post-header
        - if can? :publish, @post
          - if @post.published?
            = link_to 'Unpublish', unpublish_post_path(@post), method: :patch, class: 'btn btn-default'
          - else
            = link_to 'Publish', publish_post_path(@post), method: :patch, class: 'btn btn-default'
          %hr

        %p.poster
          %a{ href: user_path(@post.user) }
            %h4.user-name
              = image_tag @post.user.profile_photo.url(:thumb), id: 'user-listing-profile-photo'
              = @post.user.name

        %p.post-meta= @post.date_meta
        %h3= @post.title

      #post-body
        %p= auto_link(@post.body)

      - if @post.images.any?
        .post-images
          = render 'image_swiper', images: @post.images, image_hash: @images

      = render 'comments/template', commentable: @post, new_comment: @comment

      .post-actions
        = link_to 'Back', posts_path, :class => 'btn btn-default'
        
        - if can? :publish, @post
          = link_to 'Edit', edit_post_path(@post), :class => 'btn btn-default'
          = link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Pag Sure!' }, class: 'btn btn-danger'
